*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
}
:root{
    --bg:#00ADB5;
    --white:#fff;
    --dark:#393E46;
    --b-s-big: 5px 5px 10px 0px #00000025,-5px -5px 10px 0px #FFFFFF35;
    --b-s-sm:-2px -2px 3px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.1);
    --b-s-ins:inset -2px -2px 5px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}
/* color  */
.dark{
    background: var(--dark);
    padding: 0.3rem 1rem;
    border-radius: 3px;
    box-shadow: var(--b-s-sm);
}
/* section */
section,header{
    text-align: center;
    margin: 3rem auto;
}
/* flex box */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.j-c-s-b{
    justify-content: space-around;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
/* grid */
.grid-3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem;
}
.grid-2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}
/* body container */
body{
    background-color: var(--bg);
    min-height: 100vh;
}
.container{
    width: 80%;
}
/* heading */
.heading{
    padding: 1rem 0.5rem;
    border-radius: 5px;
    box-shadow: var(--b-s-big);
    margin-bottom: 2rem;
    display: block;
    text-align: center;
    line-height: 2;
}

.box{
    padding:3rem 0.5rem;
    box-shadow: var(--b-s-big);
}
.box h3{
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-size: 20px;
}
.box h2{
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 2;
}
/* inputs */
.inputsection{
    padding: 3rem 0;
}
div input{
    margin: 0.5rem auto;
    padding: 1rem 1rem;
    background: var(--bg);
    box-shadow: var(--b-s-big);
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
}
div input:nth-child(1),input:nth-child(2){
    box-shadow: var(--b-s-ins);
}
div input:nth-child(1):focus,input:nth-child(2):focus{
    box-shadow: var(--b-s-sm);
}
div input[type="submit"]{
    margin-top: 1.5rem;
    padding: 0.6rem 2rem;
}
div input[type="submit"]:hover{
   background: var(--dark);
}
.inputIcon{
    margin: 0.7rem;
}
#dipo,#withdrow{
    background: var(--white);
    color: var(--dark);
    border-bottom: 4px solid var(--bg);
}
#dipoBtn,#withdrowBtn{
    background: var(--bg);
    color: var(--white);
}
input.input {
    width: 100%;
}
footer{
    bottom: 0;
    position: absolute;
    padding: 1rem;
    background: var(--dark);
    display: block;
}
@media (max-width: 400px) {
    .inputsection label{
        flex-direction: column;
    }
    
  }